.header {
    width: 100%;
    height: 80px;
    background: #ffffff;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            font-weight: 800;
            font-size: 20px;
            list-style: none;
            a {
                text-decoration: none;
                color: darkcyan;
            }
        }
    }
}
